---
---

// style reset
div {
  line-height: 1;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}

html {
  width: 1024px;
}

body {
  margin-left: 20%;
}

header {
  border-bottom: 2px solid lightgray;
  margin-bottom: 15px;

  a, a:hover {
    color: black;
  }
}

a {
  text-decoration: none;
  color: darkred;
}

a:hover {
  color: red;
}

#content {
  float: left;
  width: 80%;
  border-right: 2px solid lightgray;

  .title {
    font-size: 200%;
    float: left;
    margin-right: 8px;
  }

  .post-metadata {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
  }

  .tags {
    font-size: 80%;

    ul {
      padding-top: 15px;
      list-style-type: none;

      li {
        float: left;
        background-color: gray;
        color: white;
        border-radius: 5px;
        margin-right: 2px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .body, .summary {
    p {
      padding: 8px 0px;
    }
  }
}

#sidebar {
  float: right;
  text-align: left;
  width: 15%;
  padding-top: 15px;

  .about-items {
    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }
  }
}

footer {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 80%;
  width: 80%;
  border-right: 2px solid lightgray;
}

.clearer {
  clear: both;
}
