---
---

html {
  width: 1024px;
}

body {
  margin-left: 20%;
}

header {
  border-bottom: 2px solid lightgray;
  margin-bottom: 20px;
}

#content {
  float: left;
  width: 80%;

#sidebar {
  float: right;
  text-align: left;
  width: 15%;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
}

.clearer {
  clear: both;
}
