{% raw %}
<script id="template/posts" type="text/x-handlebars-template">
  {{#each posts}}
  <div class="post">
    <a class="post-link" href="#" data-post-url="{{url}}"><span class="title">{{title}}</span></a>
    <span class="summary">{{{excerpt}}}</span>
  </div>
  {{/each}}
</script>

<script id="template/post" type="text/x-handlebars-template">
  <div class="post">
    <p><span class="title">{{title}}</span></p>

    <div class="tags">
      <ul>
      {{#each tags}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    </div>

    <p>{{{content}}}</p>
  </div>
</script>
{% endraw %}

