$accent: #4170A3;

// style reset
div {
  line-height: 1;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}
// style reset

html {
  max-width: 1024px;
}

body {
  margin-left: 20%;
}

header {
  border-bottom: 2px solid lightgray;
  margin-bottom: 30px;

  a, a:hover {
    color: black;
  }

  h1 {
    font-size: 300%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

a {
  text-decoration: none;
  color: $accent;
}

a:hover {
  filter: brightness(130%);
}

#content {
  float: left;
  width: 80%;
  border-right: 2px solid lightgray;

	.post {
    padding-bottom: 30px;
    padding-right: 30px;

    .post-separator {
      margin-top: 50px;
      margin-left: 30px;
      border-bottom: 2px lightgray dashed;
    }

    font-size: 120%;

    .read-more {
      font-size: 125%;
    }

    h2 {
      font-size: 150%;
      margin-bottom: 20px;
    }
  }

  .title {
    font-size: 200%;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .post-metadata {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
  }

  .tags {
    font-size: 80%;

    ul {
      padding-top: 15px;
      list-style-type: none;

      li {
        $tagcolour: rgba(0, 0, 0, 0.5);
        float: left;
        color: $tagcolour;
        border: 1px solid $tagcolour;
        border-radius: 5px;
        margin-right: 2px;
        padding: 0px 5px 3px 5px;
      }
    }
  }

  .body, .summary {
    p {
      padding: 8px 0px;
      line-height: 20px;
    }
  }
}

#sidebar {
  float: right;
  text-align: left;
  width: 15%;

  .sidebar-header {
    padding-bottom: 2px;
    font-size: 150%;
  }

  .sidebar-items {
    margin-bottom: 30px;

    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }

    li {
      padding-bottom: 2px;
    }
  }
}

footer {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 80%;
  border-right: 2px solid lightgray;
  font-size: 120%;
}

.clearer {
  clear: both;
}
