<!DOCTYPE html>
<html>
  <head>
    <title>Blorg stuff</title>
    {% include templates.html %}
    <script type="text/javascript" src="/js/umbrella-2.10.1.min.js"></script>
    <script type="text/javascript" src="/js/handlebars.min.js"></script>
    <script type="text/javascript" src="/js/blorg.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/blorg.css"></style>
    <link rel="stylesheet" type="text/css" href="/css/syntax.css"></style>
  </head>

  <body>
    <header>{% include header.html %}</header>

    <div id="content">{{content}}</div>
    <div id="sidebar">{% include sidebar.html %}</div>
    <div class="clearer"></div>

    <footer>{% include footer.html %}</footer>
  </body>
</html>

